.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1264c;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.card {
  height: 30.1875rem;
  width: 28.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(3, 18, 25, 0.25);
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}
.card__title {
  text-align: center;
  font-size: 3rem;
  line-height: 130.5%;
  margin-bottom: 3.5rem;
}
.card__hexcode {
  padding: 12px 0;
  min-width: 15.25rem;
  border-radius: 22px;
  font-size: 1.625rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #c1264c;
  /* border: 1px solid rgba(255, 255, 255, 0.52); */
  margin-bottom: 3.9375rem;
}
.card__btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.btn {
  font-size: 1.25rem;
  min-width: 9.0625rem;
  min-height: 3.375rem;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
}
.btn-generator {
  background-color: #18d5ff;
}
.btn-copy {
  color: #18d5ff;
  background-color: #5c5c5c73;
  border-color: #18d5ff;
}

@media (max-width: 600px) {
  :root {
    font-size: 12px;
  }
  .card {
    height: 370px;
    width: 320px;
  }
}
